{% extends "base.html" %}

{% block contents %}
    <div >
        <h1>Quem somos</h1>

        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deleniti asperiores, autem dicta ab ex quaerat
            ratione aut reiciendis. Accusamus velit neque dolore provident rem libero officia, quod suscipit in
            repudiandae.Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deleniti asperiores, autem dicta ab ex
            quaerat ratione aut reiciendis. Accusamus velit neque dolore provident rem libero officia, quod suscipit in
            repudiandae.Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deleniti asperiores, autem dicta ab ex
            quaerat ratione aut reiciendis. Accusamus velit neque dolore provident rem libero officia, quod suscipit in
            repudiandae.Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deleniti asperiores, autem dicta ab ex
            quaerat ratione aut reiciendis. Accusamus velit neque dolore provident rem libero officia, quod suscipit in
            repudiandae.</p>
    </div>
    <div>
        <h1>5 motivos para estudar</h1>
        <ol>
            <li>Material sempre atualizado</li>
            <li>Tablets em sala de aula</li>
            <li>Professores renomados</li>
            <li>universidade bem avaliada</li>
            <li>Ótima localização</li>
        </ol>
    </div>

    <hr style="width:68%">

    <div>
        <h1>Objetivos</h1>

        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deleniti asperiores, autem dicta ab ex quaerat
            ratione aut reiciendis. Accusamus velit neque dolore provident rem libero officia, quod suscipit in
            repudiandae.Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deleniti asperiores, autem dicta ab ex
            quaerat ratione aut reiciendis. Accusamus velit neque dolore provident rem libero officia, quod suscipit in
            repudiandae.Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deleniti asperiores, autem dicta ab ex
            quaerat ratione aut reiciendis.</p>
    </div>
{% endblock contents %}