<html><head>
    <title>TecBlog</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" href="../static/style.css">
</head>

<body>
    <center>
        <div class="header"><span class="tec">Tec</span><span class="blog">Blog</span>
            <div class="linkarea">
                <span class="links"><a href="/template/index.html">Home</a></span>
                <span class="links"><a href="/template/index.html">Jogos</a></span>
                <span class="links"><a href="/template/index.html">Celulares</a></span>
                <span class="links"><a href="/template/index.html">Informática</a></span>
                <span class="links"><a href="/template/index.html">Eletrônicos</a></span>
            </div>
        </div>
        <div class="middle">
            <div class="left">
                <div class="postarea">
                    <div class="posttitle">Titulo da postagem 1</div>
                        <div class="postdate">postado 20 março 2022</div>
                            <img class="postimage" src="../static/img/imagem1.jpg">
                                <div class="posttext">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc et scelerisque quam. Class aptent taciti sociosqu ad litora torquent per conubla nostra, per inceptos himenaeos. Praesent nulla turpis, gravida at nunc eu, luctus aliguam justo. Praesent eget risus vehicula.</p>
                                </div>
                        <div class="postend"><a href="../template/index.html" style="color: #F7B610" style="font-size: 10px">Leia mais</a><br></div>
                </div>

                <div class="postarea">
                    <div class="posttitle">Titulo da postagem 2</div>
                        <div class="postdate">postado 10 março 2022</div>
                            <img class="postimage" src="../static/img/imagem2.jpg">
                                <div class="posttext">
                                    <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc et scelerisque quam. Class aptent taciti sociosqu ad litora torquent per conubla nostra, per inceptos himenaeos. Praesent nulla turpis, gravida at nunc eu, luctus aliguam justo. Praesent eget risus vehicula.
                                    </p>
                                </div>
                    <div class="postend"><a href="../template/index.html" style="color: #F7B610" style="font-size: 10px">Leia mais</a><br></div>
                </div>

            </div>
            <div class="right">

                <div class="sidebararea">
                    <div class="sidebartitle">Postagens recentes</div>
                    <div class="sidebartext">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
                    <div class="sidebaryellow">Leia mais</div>
                    <hr class="line">
                    <div class="sidebartext">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
                    <div class="sidebarend">
                        <a href="../template/index.html" style="color: #F7B610" style="font-size: 10px">Leia mais</a><br>
                    </div>
                </div>
            
                <div class="sidebararea">
                    <div class="sidebartitle">Categorias</div>
                    <div class="sidebarend">
                        <a href="../template/index.html" style="color: #F7B610" style="font-size: 10px">Jogos</a><br>
                        <a href="../template/index.html" style="color: #F7B610" style="font-size: 10px">Celulares</a><br>
                        <a href="../template/index.html" style="color: #F7B610" style="font-size: 10px">Informática</a><br>
                        <a href="../template/index.html" style="color: #F7B610" style="font-size: 10px">Eletrônicos</a><br>
                        <a href="../template/index.html" style="color: #F7B610" style="font-size: 10px">Jogos</a><br>
                    </div>
                </div>
            </div>
            <div class="copyright">Todos os direitos reservados</div>
        </div>

        
    </center>

</body></html>