<!DOCTYPE html>
<html lang="pt-br">

<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <title>Desafio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
    {% endblock %}
</head>

<body background="{{ url_for('static', filename='img/fundo2.png') }}">
    {% block header %}
    <header>
        <div class="c">
            <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo Unes">

            <a href="contato" alt="Contatos" target="_self">Contato</a>
            <span> | </span>
            <a href="quem-somos" alt="Quem somos" target="_self">Quem somos</a>
            <span> | </span>
            <a href="/" alt="index" target="_self">Home</a>
        </div>
    </header>
    {% endblock %}
    {% block contents %}

    {% endblock contents %}

    {% block footer %}
    <footer>
        <div class="direitos">
            <h4>Todos os direitos reservados</h4>
        </div>
    </footer>
    {% endblock %}
</body>

</html>