{% extends "base.html" %}

{% block contents %}
    <div>
         <img src="{{ url_for('static', filename='img/capa.png')}}" alt="capa" style="float: center;">
        <!--        <img src="img/fundo.png" alt="fundo">
        <img src="img/fundo2.png" alt="fundo2"> --->
    </div>
    <div>
        <h1>Sobre a universidade</h1>

        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deleniti asperiores, autem dicta ab ex quaerat ratione aut reiciendis. Accusamus velit neque dolore provident rem libero officia, quod suscipit in repudiandae.Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deleniti asperiores, autem dicta ab ex quaerat ratione aut reiciendis. Accusamus velit neque dolore provident rem libero officia, quod suscipit in repudiandae.Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deleniti asperiores, autem dicta ab ex quaerat ratione aut reiciendis. Accusamus velit neque dolore provident rem libero officia, quod suscipit in repudiandae.Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deleniti asperiores, autem dicta ab ex quaerat ratione aut reiciendis. Accusamus velit neque dolore provident rem libero officia, quod suscipit in repudiandae.</p>
    </div>
{% endblock contents %}
